.kiro/specs/npid-n8n-workflows/npid-notion-sync-workflow.json
{
  "name": "NPID Video Progress → Notion Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger (Every 2 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "cd /Users/singleton23/Raycast/prospect-pipeline/mcp-servers/npid-native && python3 npid_video_progress_sync.py --notion-token \"{{ $env.NOTION_TOKEN }}\" --notion-database-id \"{{ $env.NOTION_DATABASE_ID }}\""
      },
      "id": "execute-npid-sync",
      "name": "Execute NPID Sync Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sync-success",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-sync-success",
      "name": "Check Sync Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/databases/{{ $env.NOTION_DATABASE_ID }}/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-notion-pages",
      "name": "Get Notion Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse sync results and create summary\nconst syncOutput = $input.first().json.stdout;\nconst syncErrors = $input.first().json.stderr;\n\n// Extract sync statistics\nconst newEntriesMatch = syncOutput.match(/New entries: (\\d+)/);\nconst updatedEntriesMatch = syncOutput.match(/Updated entries: (\\d+)/);\nconst totalProcessedMatch = syncOutput.match(/Total processed: (\\d+)/);\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  new_entries: newEntriesMatch ? parseInt(newEntriesMatch[1]) : 0,\n  updated_entries: updatedEntriesMatch ? parseInt(updatedEntriesMatch[1]) : 0,\n  total_processed: totalProcessedMatch ? parseInt(totalProcessedMatch[1]) : 0,\n  success: syncOutput.includes('SUCCESS'),\n  errors: syncErrors ? syncErrors.split('\\n').filter(line => line.includes('Error')) : []\n};\n\nreturn [{ json: summary }];"
      },
      "id": "parse-sync-results",
      "name": "Parse Sync Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "parent",
              "value": "={{ { \"database_id\": $env.NOTION_SYNC_LOG_DATABASE_ID } }}"
            },
            {
              "name": "properties",
              "value": "={{ {\n  \"Title\": {\n    \"title\": [{\n      \"text\": {\n        \"content\": `NPID Sync - ${new Date().toLocaleDateString()}`\n      }\n    }]\n  },\n  \"New Entries\": {\n    \"number\": $json.new_entries\n  },\n  \"Updated Entries\": {\n    \"number\": $json.updated_entries\n  },\n  \"Total Processed\": {\n    \"number\": $json.total_processed\n  },\n  \"Status\": {\n    \"select\": {\n      \"name\": $json.success ? \"Success\" : \"Failed\"\n    }\n  },\n  \"Timestamp\": {\n    \"date\": {\n      \"start\": $json.timestamp\n    }\n  }\n} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-sync-to-notion",
      "name": "Log Sync to Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "credentials": {
        "notionApi": {
          "id": "notion-credentials",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ `🔄 NPID → Notion Sync Complete\\n\\n📊 Results:\\n• New entries: ${$json.new_entries}\\n• Updated entries: ${$json.updated_entries}\\n• Total processed: ${$json.total_processed}\\n• Status: ${$json.success ? '✅ Success' : '❌ Failed'}\\n\\n⏰ ${new Date().toLocaleString()}` }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "// Handle sync failure\nconst errorOutput = $input.first().json.stderr;\nconst errorMessage = errorOutput || 'Unknown sync error';\n\nreturn [{\n  json: {\n    error: errorMessage,\n    timestamp: new Date().toISOString(),\n    success: false\n  }\n}];"
      },
      "id": "handle-sync-error",
      "name": "Handle Sync Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ `❌ NPID → Notion Sync Failed\\n\\nError: ${$json.error}\\n\\n⏰ ${new Date().toLocaleString()}` }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-slack-error",
      "name": "Notify Slack Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 500]
    }
  ],
  "connections": {
    "Schedule Trigger (Every 2 Hours)": {
      "main": [
        [
          {
            "node": "Execute NPID Sync Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute NPID Sync Script": {
      "main": [
        [
          {
            "node": "Check Sync Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sync Success": {
      "main": [
        [
          {
            "node": "Parse Sync Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Notion Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Sync Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sync Results": {
      "main": [
        [
          {
            "node": "Log Sync to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sync to Notion": {
      "main": [
        [
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Sync Error": {
      "main": [
        [
          {
            "node": "Notify Slack Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-27T00:00:00.000Z",
      "updatedAt": "2025-01-27T00:00:00.000Z",
      "id": "npid-sync",
      "name": "npid-sync"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-27T00:00:00.000Z",
  "versionId": "1"
}
